sudo: false
language: python
cache: pip
python:
  - 3.4
  - 3.5
  - 3.6-dev
script: make test
notifications:
  email: false
env:
  global:
    - DATABASE_URL='postgres://postgres@localhost/conman'
  matrix:
    - DJANGO='django~=1.10.0'
install:
  - psql -c 'CREATE DATABASE conman' -U postgres;
  - pip install -U pip setuptools wheel
  - pip install -r requirements.txt
  - pip uninstall flake8-docstrings --yes
  - pip install $DJANGO
