-e .
colour-runner==0.0.5
coverage==4.4.2
dj-database-url==0.4.1
django~=1.11.0
factory_boy==2.9.2
flake8==3.5.0
flake8-commas==1.0.0
flake8-docstrings==1.3.0
incuna-test-utils==6.6.0
isort==4.2.15
mkdocs-material==2.2.6
mkdocs==0.17.2
psycopg2==2.7.3.2
twine==1.9.1
